.navbar {
  max-height:50px;
}
.jumbotron.page-three {
  background-image: url("../img/image_bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  color: white;
}
.btn-insta {
    color: #fff;
    background-color: #7952b3;
    border-color: #7952b3;
}

h1, h2 {
font-family:'Ubuntu';
}

.btn {
  font-family:'Ubuntu';
}

.navbar-default {
  background-color: #3e77c1;
  color: white;
}

.navbar-default a {
  color: white!important;
}

.navbar-default .active a{
  background-color: #305c96!important;
  padding-bottom:12px;
}

.modalimage {
  padding-top: 20px;
  width: 100%;
}

.modal-title {
  font-size: 30px;
  font-weight: bold;
}

.modal-body{
  font-size:16px;
  font-weight: bold;
}
